<!DOCTYPE html>
<html>
<head>
  <title>AllAboutChew</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="jumbotron">
<div class="container">
  <h1> All About Chew </h1>
</div>
</div>

<div class='container'>
  <ul class="nav navbar-nav navbar-left">

      <% if current_user %>
        <li><%= link_to 'Home', root_path%></li>
        
      <% else %>
        <li><%= link_to 'Home', root_path%></li>
        <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class='placeholder'><%= link_to 'Search', root_path %></li>
      <% if current_user %>
        <li><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Signup', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>

  <p class="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
